/*Declaracion del contenedor,para que sus elementos
Se queden en su pocision original*/

*{
	
	font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.ContenedorBlanco{
	width:  1000px;
    	height: 1050px;
    	margin:0 auto;
   	padding:0.5em;
   	position:relative;
   	left:-1px;
	overflow: hidden;
	padding-top: 0px


	
}
/*Configuracion del body,para que se vea completo el curriculum*/
body
{
	overflow-x: hidden;
	margin:0 auto;
}

#cont1 {
	height: 100%;
	width: 30%;
	background-color: #333853;
	
	padding: 10PX;

	

} 


#cont1 .imagen{
	height: 300px;
	width: 300px;
	text-align: center;
	padding: 10px;
	margin: 10px;
	border-radius: 100%;
	position:relative;
	left:-20px;

}

#cont1 .nombre{
	color: #fff5bf;
	font-size: 30px;
}

#cont1 .titulo{
	color: #fff5bf;
	font-size: 15px;
}
#cont1 .inf{
	color: #fff5bf;
	font-size: 15px;
}


#cont2 {
	padding: 10PX;
}
/*Contenido dentro del contenedor*/
#cont2 .barras{
	background-color: #fff5bf;
	height: 10%;
	width: 300%;
	padding: 10px;
	margin: 10px;
	font-size: 20px;
}
#cont2 .titulos{
	margin: 20px;
	padding: 10px;
	
}
#cont2 .contenidos{
	margin: 20px;
	padding: 0px;
	color: gray;

}

.a1:hover{
	border-bottom: 1px solid;
	background: #fff5bf;
}
